<div id="<%= dom_id student %>">
  <p>
    <strong>First name:</strong>
    <%= student.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= student.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= student.email %>
  </p>

  <p>
    <strong>Password digest:</strong>
    <%= student.password_digest %>
  </p>

  <p>
    <strong>School:</strong>
    <%= student.school_id %>
  </p>

  <p>
    <strong>Isadmin:</strong>
    <%= student.isadmin %>
  </p>

</div>
