<div id="<%= dom_id educator %>">
  <p>
    <strong>First name:</strong>
    <%= educator.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= educator.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= educator.email %>
  </p>

  <p>
    <strong>Password digest:</strong>
    <%= educator.password_digest %>
  </p>

  <p>
    <strong>School:</strong>
    <%= educator.school_id %>
  </p>

  <p>
    <strong>Isadmin:</strong>
    <%= educator.isadmin %>
  </p>

</div>
