<p style="color: green"><%= notice %></p>

<%= render @educator %>

<div>
  <%= link_to "Edit this educator", edit_educator_path(@educator) %> |
  <%= link_to "Back to educators", educators_path %>

  <%= button_to "Destroy this educator", @educator, method: :delete %>
</div>
