<div id="<%= dom_id lesson %>">
  <p>
    <strong>Name:</strong>
    <%= lesson.name %>
  </p>

  <p>
    <strong>Chat:</strong>
    <%= lesson.chat_id %>
  </p>

  <p>
    <strong>Assessment:</strong>
    <%= lesson.assessment_id %>
  </p>

  <p>
    <strong>Phase:</strong>
    <%= lesson.phase_id %>
  </p>

</div>
