<div id="<%= dom_id course %>">
  <p>
    <strong>Name:</strong>
    <%= course.name %>
  </p>

  <p>
    <strong>School:</strong>
    <%= course.school_id %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= course.student_id %>
  </p>

  <p>
    <strong>Educator:</strong>
    <%= course.educator_id %>
  </p>

  <p>
    <strong>Resource:</strong>
    <%= course.resource_id %>
  </p>

</div>
