<div id="<%= dom_id phase %>">
  <p>
    <strong>Name:</strong>
    <%= phase.name %>
  </p>

  <p>
    <strong>Lesson:</strong>
    <%= phase.lesson_id %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= phase.course_id %>
  </p>

  <p>
    <strong>Resource:</strong>
    <%= phase.resource_id %>
  </p>

</div>
